<!DOCTYPE html>
<html ng-app="testModule">
  <head>

    <script type="application/javascript" src="angular/angular.js"></script>
    <script type="application/javascript" src="javascripts/main.js"></script>
    <script type="application/javascript" src="javascripts/component/index/indexController.js"></script>
    <script type="application/javascript" src="javascripts/component/index/index.js"></script>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  <index-test></index-test>
  </body>
</html>
